/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  line-height: 1.6;
  background-color: #ccc;
}

header {
  background-color: #877f7f;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center; /* Align items vertically */
}

nav ul li {
  margin-right: 30px;
}

nav ul li a:hover {
  color: #5e5d5d;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  position: absolute;
  right:20px;
  top: 10px;
  /*margin-left: auto;*/
 /* Push the logo image to the right */
}


.hero {
  background-image: url('static/images/sparkles.png'); /* Update the path to the background image */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  margin-top: auto;
}

.schedule-button {
  display: inline-block;
  background-color: #bab9b9;
  color: #080000;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 20px;
}


h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cancel-membership-button {
  display: inline-block;
  background-color: #bab9b9;
  color: #080000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.schedule-button:hover,
.cancel-membership-button:hover {
  background-color: #5e5d5d;
  color: white;
}

.membership {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #a897a7;
  color: #fff;
  padding: 20px;
  text-align: center;
}
