* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}


nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  background-color: #ccc;
}

header {
  background-color: #877f7f;
  color: #fff;
  padding: 20px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
} 

.schedule-date-color {
  background-color: darkslategray;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  min-height: 100vh; /* Set a minimum height to ensure the white block expands */
}

.form-container {
  width: fit-content; /* Adjust the width to fit the table content */
  height: fit-content; /* Adjust the height to fit the table content */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust the margin-top value as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
}

.form-container-table {
  width: 100%; /* Set the width to 100% to fill the available space */
  height: fit-content; /* Adjust the height to fit the table content */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust the margin-top value as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
}


h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  width: 140px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #bab9b9;
  color: #080000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #a395d6;
}