/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #877f7f;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}


nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  background-image: url('C:\Users\shaked\Bling\images\sparkles.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  color: #01000a;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.schedule-button,
.cancel-membership-button {
  display: inline-block;
  background-color: #bab9b9;
  color: #080000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.schedule-button:hover,
.cancel-membership-button:hover {
  background-color: #a395d6;
}

.membership {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #a897a7;
  color: #fff;
  padding: 20px;
  text-align: center;
}
