<html>
<head>
  <title>Bling</title>
  <link rel="stylesheet" type="text/css" href="static/home/home.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/" class="login-button">Logout</a></li>
      </ul>
    </nav>
  </header>
  <section class="hero">
    <h1>Welcome to Bling Studio</h1>
      <img src="static/images/logo.png" alt="Logo" width="200px">
    <div class="hero-content">
      <a href="/schedule" class="schedule-button">Schedule</a>
    </div>
  </section>

  <section class="membership">
    <h2>Membership</h2>
    <p>If you are a studio member and wish to cancel your membership - please click here</p>
    <a href="/membershipCan" class="cancel-membership-button">Cancel Membership</a>
  </section>
</body>
</html>
