<!DOCTYPE html>
<html>
<head>
  <title>Schedule Training</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/schedule.css">
  <script src="static/js/schedule.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/logout" class="login-button">Logout</a></li>
      {% if is_admin %}
      <li><a href="/logout" class="login-button">admin</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
<body>
  <div class="container">
    <div class="form-container-table">
      <h1>Schedule Training</h1>
        {% for date in schedule_map.keys() %}
        <table class="table">
          <thead class="schedule-date-color">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">{{ date.strftime("%d/%m/%Y") }}</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <thead class="thead-light">
            <tr>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Workout Type</th>
              <th scope="col">Trainer</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for schedule in schedule_map[date] %}
            <tr>
              <td>{{ schedule.startTime.strftime("%H:%M") }}</td>
              <td>{{ schedule.endTime.strftime("%H:%M") }}</td>
              <td>{{ trainings[schedule.trainingID].trainingType }}</td>
              <td>{{ trainers[schedule.trainerID].trainerFullName }}</td>
              <td>
                {% if is_admin %}
                <a class="btn border-shadow update btn-info p-2" role="button" aria-pressed="true">
                  Schedule
                </a>
                {% else %}
                  {% if "{}/{}".format(schedule.trainingID, schedule.specificTimeTrainingDate) in registers.keys() %}
                  <a class="btn border-shadow update btn-danger p-2 openDelete" role="button" aria-pressed="true" data-id="ISBN564541" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    cancle
                  </a>
                  {% else %}
                  <a class="btn border-shadow update btn-info p-2" onClick="updateCreateModal('{{ schedule.trainingID }}', '{{ schedule.specificTimeTrainingDate }}')" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#createModal">
                    Schedule
                  </a>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        <div class="modal" id="createModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Training Registration Request</h4><br><br>
                <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
               
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form method="POST" action="/training-registration">
                  <div class="modal-body">  
                    <div class="form-group">
                      <input type="hidden" name="trainingID" id="trainingID" required>
                      <input type="hidden" name="specificTimeTrainingDate" id="specificTimeTrainingDate" required>
                      <h6>Please note- if you want to cancel the training, do it up to 24 hours before the workout.</h6>
                  <div class="modal-footer">
                    <div class="form-group">
                      <button type="Create" class="btn btn-success create">Register</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="deleteModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Unschedule</h4>
                <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form method="POST" action="/api/coords">
                  <div class="modal-body">  
                    <div class="form-group">
                      <label for="locationName" class="text-dark w-25">Location Name</label>
                      <input type="text" class="w-50" name="locationName" placeholder="ie: Bits of Gold" required>
                    </div>
                    <div class="form-group">
                      <label for="latitude" class="text-dark w-25">Latitude</label>
                      <input type="number" step="any" class="w-50" name="latitude" onkeyup="return validateLatitude(this)" placeholder="32.45454" required>
                    </div>
                    <div class="form-group">
                      <label for="longitude" class="text-dark w-25">Longitude</label>
                      <input type="number" step="any" class="w-50" name="longitude" onkeyup="return validateLongitude(this)" placeholder="21.456432" required>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                      <button type="Create" class="btn btn-success create">Create</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
