<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/static/images/logo-small.png" />
  <title>Bling- Schedule</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/schedule.css">
  <script src="static/js/schedule.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link href="https://fonts.cdnfonts.com/css/elegant-2" rel="stylesheet">
</head>
<header>
  <nav>
    <ul style="padding-left: 0;">
      
      <li><a href="/home">Home</a></li>
      <li><a href="/logout" class="login-button">Logout</a></li>
      {% if is_admin %}
      <li><a title="Click for generating Business Data Reports " href="/data_report" class="login-button">Business Data</a></li>
      {% endif %}
      <img src="static/images/logo.png" alt="Logo"  class="logo">
    </ul>
  </nav>
</header>
<body>
  <div class="container">
    <div class="form-container-table">
      <h1 id="scheduleFont">Trainings Schedule</h1>
      {% if is_admin %}
      <a title="Add a new Training" class="btn border-shadow update btn-info p-2" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#addModal">
        Add
      </a>
      {% endif %}
        {% for date in schedule_map.keys() %}
        <table class="table">
          <thead class="schedule-date-color">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">{{ date.strftime("%d/%m/%Y") }}</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <thead class="thead-light">
            <tr>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Workout Type</th>
              <th scope="col">Trainer</th>
              <th scope="col">Capacity / Used</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for schedule in schedule_map[date] %}
            <tr>
              <td>{{ schedule.startTime.strftime("%H:%M") }}</td>
              <td>{{ schedule.endTime.strftime("%H:%M") }}</td>
              <td>{{ trainings[schedule.trainingID].trainingType }}</td>
              <td>{{ trainers[schedule.trainerID].trainerFullName }}</td>
              <td>{{ schedule_capacity_map["{}/{}".format(schedule.trainingID, schedule.specificTimeTrainingDate)]['capacity'] }} /
                  {{ schedule_capacity_map["{}/{}".format(schedule.trainingID, schedule.specificTimeTrainingDate)]['utilization'] }}
              </td>
              <td>
                {% if not is_admin %}
                  {% if "{}/{}".format(schedule.trainingID, schedule.specificTimeTrainingDate) in registers.keys() %}
                  <a class="btn border-shadow update btn-danger p-2" onClick="updateDeleteModal('{{ schedule.trainingID }}', '{{ schedule.specificTimeTrainingDate }}')" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    cancel
                  </a>
                  {% else %}
                    {% if schedule_capacity_map["{}/{}".format(schedule.trainingID, schedule.specificTimeTrainingDate)]['capacity'] <=
                    schedule_capacity_map["{}/{}".format(schedule.trainingID, schedule.specificTimeTrainingDate)]['utilization'] %}
                    <a class="btn border-shadow update btn-warning p-2">
                      is full
                    </a>
                    {% else %}
                      <a title="Schedule this Training" class="btn border-shadow update btn-info p-2" onClick="updateCreateModal('{{ schedule.trainingID }}', '{{ schedule.specificTimeTrainingDate }}')" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#createModal">
                        Schedule
                      </a>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        <div class="modal" id="createModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Training Registration Request</h4>
                <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form method="POST" action="/training-registration">
                  <div class="form-group">
                    <input type="hidden" name="trainingID" id="trainingID" required>
                    <input type="hidden" name="specificTimeTrainingDate" id="specificTimeTrainingDate" required>
                    <h6>Please note - if you want to cancel the training, do it up to 24 hours before the workout.</h6>
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success create">Register</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="addModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add New Schedule</h4>
                <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form method="POST" action="/create-specific-time-training">
                  <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" id="date" required>
                    <div class="mb-3">
                      <label for="startTime" class="form-label">Start Time</label>
                      <input type="time" class="form-control" name="startTime" id="startTime" required>
                    </div>
                    <div class="mb-3">
                      <label for="endTime" class="form-label">End Time</label>
                      <input type="time" class="form-control" name="endTime" id="endTime" required>
          <div class="mb-3">
            <label for="trainingID" class="form-label">trainingID</label>
            <select class="form-control" name="trainingID" id="trainingID" required>
              {% for trainingId in trainings.keys() %}
              <option value={{ trainingId }}>{{ trainings[trainingId].trainingType }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="standByTrainer" class="form-label">Standby Trainer</label>
            <select class="form-control" name="standByTrainer" id="standByTrainer" required>
              {% for trainerId in trainers.keys() %}
              <option value={{ trainerId }}>{{ trainers[trainerId].trainerFullName }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="trainerID" class="form-label">Trainer ID</label>
            <select class="form-control" name="trainerID" id="trainerID" required>
              {% for trainerId in trainers.keys() %}
              <option value={{ trainerId }}>{{ trainers[trainerId].trainerFullName }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Add</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>       
        <div class="modal" id="deleteModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Training Cancellation Request</h4>
                <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <form method="POST" action="/training-cancelation" onsubmit="return validateForm()" id="cancelForm">
                  <div class="form-group">
                    <input type="hidden" name="trainingID" id="trainingID" required>
                    <input type="hidden" name="specificTimeTrainingDate" id="specificTimeTrainingDate" required>
                    <label for="reason">Reason:</label>
                    <select class="form-select form-select-sm" name="reason" aria-label=".form-select-sm example" required>
                      <option value="" disabled selected>Choose one of the reasons</option>
                      <option value="Timetable constraints">Timetable constraints</option>
                      <option value="Health conditions">Health conditions</option>
                    </select>
                    <h6>Please note - you are about to cancel your registration</h6>
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success create">Cancel Registration</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>        
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
