<!DOCTYPE html>
<html>
<head>
  <title>Training Registration Form</title>
</head>
<link rel="stylesheet" href="static/css/trainingReg.css">
<body>
  <div class="container">
    <div class="form-container">
      <h1>Training Registration Form</h1>
      <form action="/submit-registration" method="POST">
        <input type="hidden" name="traineeID" id="traineeID" required><br><br>
        
        <label for="trainingID">Training ID:</label>
        <input type="number" name="trainingID" id="trainingID" required><br><br>
        
        <label for="specificTimeTrainingDate">Specific Training Date:</label>
        <input type="date" name="specificTimeTrainingDate" id="specificTimeTrainingDate" required><br><br>
        
        <label for="requestDate">Request Date:</label>
        <input type="date" name="requestDate" id="requestDate" required><br><br>
        
        <input type="hidden" name="approvalStatus" id="approvalStatus" required>

            <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
  </html>

