<!DOCTYPE html>
<html>
<head>
  <title>Bling</title>
  <link rel="stylesheet" type="text/css" href="web_temp.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" class="login-button">Login</a></li>
      </ul>
    </nav>
  </header>
  <section class="hero">
      <img src="C:\Users\shaked\Bling\images\logo.png" alt="Logo" width="300px">
    <div class="hero-content">
      <h1>Welcome to Bling </h1>
      <a href="#" class="schedule-button">Schedule</a>
    </div>
  </section>

  <section class="membership">
    <h2>Membership</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus sem vel lectus fermentum eleifend.</p>
    <a href="#" class="cancel-membership-button">Cancel Membership</a>
  </section>


</body>
</html>
